body {
  background-color: #2d2d2d;
  color: #82aefc;
}

input.form-control, input.form-control:active, input.form-control:focus {
  background-color: #575757;
}

input.form-control {
  border: 1px solid black;
  color: #8cb7fb;
}

input.form-control:focus {
  border: none;
  box-shadow: none;
  color: #8cb7fb;
}
